html{
    min-height: 100vh;
    background: #fdcb6e;
}

h1 {
    font-family: 'Baloo Paaji 2', cursive;
    color: #2d3436;
    text-align: center;
    font-size: 45px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: #2d3436;
    font-size: 20px;
    letter-spacing: 3px;
}

p {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 15px;
    letter-spacing: 2px;
}

.row {
    display: flex;
}

/*Row*/

.direction-row {
    width: 400px;
}

.container > * {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 3px;
    border: 1px solid #fff;
    color: #fff;
    margin: 10px;
    padding: 20px;
    text-align: center;
    -webkit-transition: all 150ms ease;
    transition: all 150ms ease;
}

.container > *:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.container {
    background: #fdcb6e;
    display: flex;
}

/*Row-reverse*/

.row-reverse {
    width: 400px;
    text-align: right;
}

.container-row-reverse > * {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 3px;
    border: 1px solid #fff;
    color: #fff;
    margin: 10px;
    padding: 20px;
    text-align: center;
    -webkit-transition: all 150ms ease;
    transition: all 150ms ease;
}

.container-row-reverse > *:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.container-row-reverse {
    background: #fdcb6e;
    display: flex;
    flex-direction: row-reverse;
}

/*Column*/

.direction-column {
    width: 400px;
}

.container-column > * {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 3px;
    border: 1px solid #fff;
    color: #fff;
    margin: 10px;
    padding: 20px;
    text-align: center;
    -webkit-transition: all 150ms ease;
    transition: all 150ms ease;
}

.container-column > *:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.container-column {
    background: #fdcb6e;
    display: flex;
    flex-direction: column;
}

/*column-reverse*/

.column-reverse {
    width: 400px;
    text-align: right;
}

.container-column-reverse > * {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 3px;
    border: 1px solid #fff;
    color: #fff;
    margin: 10px;
    padding: 20px;
    text-align: center;
    -webkit-transition: all 150ms ease;
    transition: all 150ms ease;
}

.container-column-reverse > *:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.container-column-reverse {
    background: #fdcb6e;
    display: flex;
    flex-direction: column-reverse;
}

/*Wrap*/

.flex-wrap {
    width: 400px;
    margin-left: 5px;
}

.container-flex-wrap > * {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 3px;
    border: 1px solid #fff;
    color: #fff;
    margin: 10px;
    padding: 20px;
    text-align: center;
    -webkit-transition: all 150ms ease;
    transition: all 150ms ease;
}

.container-flex-wrap > *:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.container-flex-wrap {
    background: #fdcb6e;
    display: flex;
    width: 420px;
    border: 4px solid #8e44ad;
    flex-wrap: wrap;
}

/*Wrap-reverse*/

.flex-wrap-reverse {
    width: 400px;
    text-align: right;
}

.container-flex-wrap-reverse > * {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 3px;
    border: 1px solid #fff;
    color: #fff;
    margin: 10px;
    padding: 20px;
    text-align: center;
    -webkit-transition: all 150ms ease;
    transition: all 150ms ease;
}

.container-flex-wrap-reverse > *:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.container-flex-wrap-reverse {
    background: #fdcb6e;
    display: flex;
    width: 420px;
    border: 4px solid #8e44ad;
    flex-wrap: wrap-reverse;
    margin-left: 50px;
}

/*Nowrap*/

.flex-wrap-nowrap {
    width: 400px;
    margin-left: 5px;
}

.container-flex-wrap-nowrap > * {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 3px;
    border: 1px solid #fff;
    color: #fff;
    margin: 10px;
    padding: 20px;
    text-align: center;
    -webkit-transition: all 150ms ease;
    transition: all 150ms ease;
}

.container-flex-wrap-nowrap > *:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.container-flex-wrap-nowrap {
    background: #fdcb6e;
    display: flex;
    width: 420px;
    border: 4px solid #8e44ad;
    flex-wrap: nowrap;
}

/*flex-flow*/

.flex-flow {
    width: 400px;
    margin-left: 5px;
}

.container-flex-flow > * {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 3px;
    border: 1px solid #fff;
    color: #fff;
    margin: 10px;
    padding: 20px;
    text-align: center;
    -webkit-transition: all 150ms ease;
    transition: all 150ms ease;
}

.container-flex-flow > *:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.container-flex-flow {
    background: #fdcb6e;
    display: flex;
    width: 420px;
    border: 4px solid #8e44ad;
    flex-flow: row wrap;
}

/*justify-content-start*/

.justify-content-start {
    width: 400px;
    margin-left: 5px;
}

.container-justify-content-start > * {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 3px;
    border: 1px solid #fff;
    color: #fff;
    margin: 10px;
    padding: 20px;
    text-align: center;
    -webkit-transition: all 150ms ease;
    transition: all 150ms ease;
}

.container-justify-content-start > *:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.container-justify-content-start {
    background: #fdcb6e;
    display: flex;
    width: 420px;
    border: 4px solid #8e44ad;
    flex-flow: row wrap;
    justify-content: start;
}

/*justify-content-end*/

.justify-content-end {
    width: 400px;
    margin-left: 5px;
    text-align: right;
}

.container-justify-content-end > * {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 3px;
    border: 1px solid #fff;
    color: #fff;
    margin: 10px;
    padding: 20px;
    text-align: center;
    -webkit-transition: all 150ms ease;
    transition: all 150ms ease;
}

.container-justify-content-end > *:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.container-justify-content-end {
    background: #fdcb6e;
    display: flex;
    width: 420px;
    border: 4px solid #8e44ad;
    flex-flow: row;
    margin-left: 50px;
    justify-content: flex-end;
}

/*justify-content-center*/

.justify-content-center {
    width: 400px;
    margin-left: 5px;
}

.container-justify-content-center > * {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 3px;
    border: 1px solid #fff;
    color: #fff;
    margin: 10px;
    padding: 20px;
    text-align: center;
    -webkit-transition: all 150ms ease;
    transition: all 150ms ease;
}

.container-justify-content-center > *:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.container-justify-content-center {
    background: #fdcb6e;
    display: flex;
    width: 420px;
    border: 4px solid #8e44ad;
    flex-flow: row;
    justify-content: center;
}

/*justify-content-space-around*/

.justify-content-space-around {
    width: 400px;
    margin-left: 5px;
    text-align: right;
}

.container-justify-content-space-around > * {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 3px;
    border: 1px solid #fff;
    color: #fff;
    margin: 10px;
    padding: 20px;
    text-align: center;
    -webkit-transition: all 150ms ease;
    transition: all 150ms ease;
}

.container-justify-content-space-around > *:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.container-justify-content-space-around {
    background: #fdcb6e;
    display: flex;
    width: 420px;
    border: 4px solid #8e44ad;
    flex-flow: row;
    justify-content: space-around;
    margin-left: 50px;
}

/*justify-content-space-between*/

.justify-content-space-between {
    width: 400px;
    margin-left: 5px;
}

.container-justify-content-space-between > * {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 3px;
    border: 1px solid #fff;
    color: #fff;
    margin: 10px;
    padding: 20px;
    text-align: center;
    -webkit-transition: all 150ms ease;
    transition: all 150ms ease;
}

.container-justify-content-space-between > *:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.container-justify-content-space-between {
    background: #fdcb6e;
    display: flex;
    width: 420px;
    border: 4px solid #8e44ad;
    flex-flow: row;
    justify-content: space-between;
}

/*justify-content-space-evenly*/

.justify-content-space-evenly {
    width: 400px;
    margin-left: 5px;
    text-align: right;
}

.container-justify-content-space-evenly > * {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 3px;
    border: 1px solid #fff;
    color: #fff;
    margin: 10px;
    padding: 20px;
    text-align: center;
    -webkit-transition: all 150ms ease;
    transition: all 150ms ease;
}

.container-justify-content-space-evenly > *:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.container-justify-content-space-evenly {
    background: #fdcb6e;
    display: flex;
    width: 420px;
    border: 4px solid #8e44ad;
    flex-flow: row;
    justify-content: space-evenly;
    margin-left: 50px;
}













/*flex-items-order*/

.flex-items-order {
    width: 400px;
    margin-left: 5px;
}

.container-flex-items-order > * {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 3px;
    border: 1px solid #fff;
    color: #fff;
    margin: 10px;
    padding: 20px;
    text-align: center;
    -webkit-transition: all 150ms ease;
    transition: all 150ms ease;
}

.container-flex-items-order > *:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.container-flex-items-order {
    background: #fdcb6e;
    display: flex;
    width: 420px;
    border: 4px solid #8e44ad;
    flex-flow: row;
}

.box-flex:nth-child(3){
    background-color: #ff3838;
    color: #fff;
    font-size: 20px;
    order: -1;
}
